.dashboard-parent {
	@apply block w-full h-full;
}

.dashboard {
	@apply grid;
	grid-template-columns: 80% 20%;
	grid-template-areas: 'left right';
}

.column {
	@apply p-2 bg-entrata-light-gray rounded-sm shadow-md;
}

.left {
	@apply mr-4;
	grid-area: left;
}

.right {
	grid-area: right;
}
