*,
*::before,
*::after {
	box-sizing: border-box;
}

input:focus {
	outline: none;
	box-shadow: none;
}

.search-parent {
	@apply flex flex-row border-[1px] border-entrata-gray rounded-md p-1 w-[384px] min-w-[128px] max-w-[384px] mr-8;

	@media (max-width: 640px) {
		width: 256px;
	}
}

.search-parent:focus-within {
	@apply outline outline-2 -outline-offset-1 outline-entrata-green border-entrata-green;
}

.search-icon {
	@apply text-entrata-gray w-6 h-6 mx-1.5;
}
