.dashboard-parent {
  @apply block h-full w-full;
}

.dashboard {
  @apply grid p-4;
  grid-template-columns: 80% 20%;
  grid-template-areas: "left right";
}

.column {
  @apply bg-background-100 rounded-sm shadow-md;
}

.left {
  @apply mr-4 p-4;
  grid-area: left;
}

.right {
  grid-area: right;
}
