*,
*::before,
*::after {
  box-sizing: border-box;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.search-parent {
  @apply mr-8 flex w-[384px] min-w-[128px] max-w-[384px] flex-row rounded-md border-[1px] border-secondary p-1;

  @media (max-width: 640px) {
    width: 256px;
  }
}

.search-parent:focus-within {
  @apply border-primary outline outline-2 -outline-offset-1 outline-primary;
}

.search-icon {
  @apply mx-1.5 h-6 w-6 text-secondary;
}
