.dashboard-menu {
  @apply text-xs text-secondary;
}

.dashboard-list {
  @apply flex flex-wrap gap-2;
}

.dashboard-item {
  @apply relative w-fit;
}

.dashboard-item.active::after {
  content: "";
  @apply absolute;
  width: calc(100% - 2px);
  bottom: -1.5px;
  left: calc(50%);
  transform: translateX(-50%);
  border-bottom: 2px solid #f5f5f5;
}

.dashboard-link {
  @apply flex flex-wrap items-center justify-center rounded-t-[4px] border-x-[1px] border-t-[1px] border-tertiary bg-background-200 p-1.5 px-5;
}

.dashboard-link.active {
  @apply bg-background-100;
}

.dashboard-link:hover {
  @apply bg-background-100 transition-colors duration-200 ease-out;
}

#dash-name {
  @apply pr-2;
}

#dash-count {
  @apply rounded-sm bg-primary px-1.5 py-0.5 text-[10px] text-background-100 drop-shadow-sm;
}
